@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4"><b style="color: #0764B6">BLUE</b> FEATURE</h1>
    <p>This is <b style="color: #0764B6">BLUE</b> feature</p> *@

    <h1 class="display-4"><b style="color: #5e830c">GREEN</b> FEATURE</h1>
    <p>This is the <b style="color: #5e830c">GREEN</b> feature</p>
</div>
